html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 14px 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    height: 50px
}

.m-b-md {
    margin-bottom: 30px;
}

.function-title {
    color: darkred;
}

.function-sub {
    color: goldenrod !important;
}

.btn-conu {
    color: #fff;
    background-color: goldenrod;
    border-color: darkred;
    -webkit-transition-duration: .8s;
    /* Safari */
    transition-duration: .8s;
}

.btn-conu:hover {
    color: darkred;
    background-color: #fff;
    border-color: goldenrod;
}
